<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ToneHive</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    
    <form id="logForm" class="border p-5" style="max-width:600px; margin:auto; margin-top: 200px; margin-bottom: 50px;" method="post" action="/">
        <div class="text-center">
            <a ><img width="100px" src="/public/assets/imgs/theme/Tonehive (1).png" alt=></a>
        </div>
        <h2 class="d-flex justify-content-center py-5">Login</h2>
        <% if (locals.message) { %>
            <div id="successMessage" class="col-6">
                <p class="alert alert-success"><%= locals.message %></p>
            </div>
        <% } %>
        
        <% if(locals.error){ %>
            <div id="error" class="text-center">
                <p class="mt-15 err text-danger"><%= locals.error %></p>
            </div>
            <% } %>
           
        <div class="mb-3">
            <input type="email" class="form-control" name="email" id="email" placeholder="Email address" aria-describedby="emailHelp">
        </div>
        <p><div id="error1" style="display: none;" class="mt-15 err text-danger"></div></p>
    
        <div class="mb-3">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
        </div>
        <p><div id="error2" style="display: none;" class="mt-15 err text-danger"></div></p>
    
        <a href="/RecoverForgottPassword"><h1 style="font-size: 1rem;">Forgot Password</h1></a> 
        <div class="mt-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-block btn-secondary">LOGIN</button>
        </div>
        <div class="text-center">
            <p>You dont have an account yet? <a href="/register">Sign up</a></p>
        </div>
    </form>
    
</div>



<script src="/public/formValidation/user/loginScript.js"></script>
</body>
</html>

 <!--Body-->               
           



<script>
   
    setTimeout(function() {
        var successMessage = document.getElementById('successMessage');
        if (successMessage) {
            successMessage.style.display = 'none';
        }
    }, 3000);

    
    setTimeout(function() {
        var errorMessage = document.getElementById('errorMessage');
        if (errorMessage) {
            errorMessage.style.display = 'none';
        }
    }, 3000);

   
    const queryError = document.getElementById('error')

   setTimeout(() => {
     queryError.style.display = 'none'
   }, 3000);


</script>
 