<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ToneHive</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/public/assets/css/maind134.css?v=3.4">
</head>
<body>

 <!--Body-->               
            <form id="regotpForm" class="border p-5" style="max-width:600px; margin:auto; margin-top: 200px; margin-bottom: 50px;" method="post" action="/forgottPassword">

                <h2 class="d-flex justify-content-center py-5 mt-3">VERIFY OTP</h2>

                <div class="d-flex justify-content-center mb-3" style="display: flex; justify-content: space-between;">
                  
                    <input itemid="otpverify" type="number" style="width:300px; " class="form-control" name="otp" id="verify-otp">

                </div>
                <% if(locals.message){ %>
                    <div id="error" class="alert alert-danger">
                         <%= locals.message %>
                    </div>
                    <% } %>
                <p><div id="error3" style="display: none;" class="alert alert-danger err"></div></p>
                
                <div class="mt-5 d-flex justify-content-center ">
                    <button type="submit" class="btn  btn-primary btn-block btn-secondary">VERIFY OTP</button>
                </div>
                <!-- <p>Back to login <a href="/">Login</a></p> -->
                
            </form>
        </div>
        
        <!-- <script src="/public/formValidation/user/verifyotpScript.js"></script> -->

<script>
const error = document.getElementById('error')
const form = document.getElementById('regotpForm')

setTimeout(() => {
    error.style.display = 'none'
}, 2000);

</script>
<!--footer-->
</body>
</html>
  

