.<%- include('../layouts/header.ejs') %>

 <!--Body-->               
            <form id="logForm" class="border p-5" style="max-width:600px; margin:auto; margin-top: 200px; margin-bottom: 50px;" method="post" action="/RecoverForgottPassword">
                <h2 class="d-flex justify-content-center py-5">Forgot Password</h2>
                <% if(locals.message) { %>
                    <div class="alert alert-success">
                      <%= locals.message %>
                    </div>
                    <% } %>
                    <% if(locals.error){ %>
                        <div id="error" class="alert alert-danger">
                            <%= locals.error %>
                        </div>
                    <% } %>
                <div class="mb-3">

                    <input type="email" class="form-control" name="emai" id="email" placeholder="Enter your email"  aria-describedby="emailHelp">
                </div>
                <!-- <p><div id="error1" style="display: none;" class="alert alert-danger err"></div></p> -->

                <!-- <div class="mb-3">
                    <input type="password" class="form-control" name="newpassword" id="password" placeholder="Enter new password">
                </div>
                <p><div id="error2" style="display: none;" class="alert alert-danger err"></div></p> -->

              
                <div class="mt-3 d-flex justify-content-center">
                    <button type="submit" class="btn  btn-primary btn-block btn-secondary">Recover</button>
                </div>
               
            </form>
        </div>

        <script>
            const error = document.getElementById('error')

            setTimeout(() => {
                error.style.display = 'none'
            }, 3000);
        </script>

        <script src="/public/formValidation/user/loginScript.js"></script>

<!--footer-->
<%- include('../layouts/footer.ejs') %>